@media (max-width: 1024px) {
    main {
        max-width: 850px;
    }
}

@media (max-width: 480px) {
    main {
        padding: 20px;
        gap: 15px;
    }
    .card {
        width: 100%;
        font-size: 0.9rem;
    }
    body {
        background-size: cover; /* Sempre cobre sem distorção */
    }
}

@media (max-width: 768px) {
    main {
        max-width: 90%;
    }
    .card {
        width: 80%;
    }
}