/* Responsivo */
@media (max-width: 1024px) {
    main {
        max-width: 850px;
    }
    .inputs {
        gap: 20px;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    main {
        max-width: 90%;
    }
    .inputs {
        gap: 18px;
        padding: 25px;
    }
    select, button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    main {
        padding: 20px;
    }
    select, button {
        font-size: 0.95rem;
        padding: 12px;
    }
}